H1.csv 
A1.csv 
Z1.csv  
Y1.csv 
.Rproj.user
A_1.csv
H_1.csv
Y_1.csv
Z_1.csv
param_1.RData
chatGPT_factor_probit.png
chatGPT_factor_probit_explanation.png
A_2.csv
H_2.csv
Y_2.csv
Z_2.csv
param_2.RData
A_1D.csv
H_1D.csv
Y_1D.csv
Z_1D.csv
param_1D.RData